---
const { class: className, ...otherProps } = Astro.props;
---

<a 
  class=`${className}
  dark:text-white text-black whitespace-nowrap
  hover:scale-110 dark:hover:bg-white/10 hover:bg-black/10
  transition gap-x-2 px-2 py-1 border rounded-xl dark:border-white/10 border-black/60
  flex justify-center items-center`
  {...otherProps}
>
  <slot />
</a>