---
import { t } from "i18next";
import { Trans } from "astro-i18next/components";

import Pill from "../components/Pill.astro";
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro";
import Mail from "../icons/Mail.astro";

export const MAIL = "sebastian.nicolas.meilan@gmail.com";
const GITHUB_LINK = "https://github.com/nicolas-meilan";
const LINKEDIN_LINK = "https://www.linkedin.com/in/sebasti\u00E1n-nicol\u00E1s-meil\u00E1n-884043141";
---

<h1 class="text-white text-5xl font-bold pb-10">
  {t("presentation.greetings")}
</h1>
<h2 class="text-2xl text-wrap pb-3 text-gray-300 [&>strong]:text-yellow-400 [&>strong]:font-semibold">
  <Trans i18nKey="presentation.description">{t('presentation.description')}</Trans>
</h2>
<nav class="flex flex-row gap-x-4 text-sm">
  <Pill href={GITHUB_LINK}>
    <Github class="size-4" />
    {t("social.git")}
  </Pill>
  <Pill href={LINKEDIN_LINK}>
    <Linkedin class="size-4" />
    {t("social.linkedin")}
  </Pill>
  <Pill href={`mailto:${MAIL}`}>
    <Mail class="size-4" />
    {MAIL}
  </Pill>
</nav>